/*=================================
=            Variables            =
=================================*/
//Fonts
$defFontSize: 16px;

//Colors
$bgColor: #efefef;
$textColor: #555555;
$emColor: #fac035;

//Sizing
$padding: 40px;
$duration: 0.2s;